html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body {
        background-color: #5b6069;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    box-shadow: 10px 10px 5px 0px #194d33;
    width: 6em;
    height: 6em;
    padding: 1em;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.4em;
    background-color: #2B2B35;
    border-radius: 1em;
    text-align: center;
    color: #00DB89;
}
.container a {
    text-decoration: none;
}
.item {
    transition-property: width, height, background-color;
}
.item a {
    text-decoration: none;
}
