/* A simple, css only, (some-what) responsive menu */

#header .wrap {
    display: block;
    margin: auto;
    -webkit-box-shadow: 0 0 70px #fff;
    -moz-box-shadow: 0 0 70px #fff;
    box-shadow: 0 0 70px #fff;
}

#header a {
    text-decoration: none;
    color: #fff;
    display: block;
}

#header ul {
    list-style: none;
    position: relative;
    text-align: left;
}

#header li {
    float: left;
}


/* clear'n floats */

#header ul:after {
    clear: both;
}

#header ul:before,
#header ul:after {
    content: " ";
    display: table;
}

#header nav {
    position: relative;
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


/* prime */

#header ul.primary li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
    text-decoration: None
}

#header ul.primary li:last-child a {
    border-right: none;
}

#header ul.primary li a:hover {
    color: #000;
}

#header ul.primary li a.categoria-item {
    padding: 5px;
}


/* subs */

#header ul.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display: none;
}

#header ul.sub li {
    float: none;
    margin: 0;
}

#header ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
}

#header ul.sub li:last-child a {
    border-bottom: none;
}

#header ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
}


/* sub display*/

#header ul.primary li:hover ul {
    display: block;
    background: #fff;
}


/* keeps the tab background white */

#header ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
}

#header ul.primary li:hover>a {
    color: #FFF;
    background: #333333
}

@media only screen and (max-width: 600px) {
    #header .wrap {
        width: 100%;
        margin-top: 0px;
    }
    #header li {
        float: none;
    }
    #header ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }
    #header ul.primary li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }
    #header ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }
    #header ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }
    #header ul.sub li a:hover {
        color: #ccc;
        background: none;
    }
}