<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static',
      filename='favicon.png')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/products.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/navbar.css')}}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div id="header">
    <div class="wrap">
        <nav>
            <ul class="primary">

                {% set shops = get_shops() %} {% for shop in shops %}
                <li>

                    <a>{{ shop.capitalize() }}</a> {% set categorias = get_categories(shop) %}
                    <ul class="sub">
                        <li>
                            <a class="categoria-item" href="{{ url_for('offers_by_shop', shop=shop) }}">Todas</a>
                        </li>
                        {% for element in categorias %}
                        <li>
                            <a class="categoria-item" href="{{ url_for('offer', shop=shop, category= element) }}">{{
                                format_category(element)
                                }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                {% endfor %} {% set all_categories = get_all_categories() %}
                <li>
                    <a>Por categoria</a>
                    <ul class="sub">
                        {% for category in all_categories %}
                        <li><a class="categoria-item" href="{{ url_for('offers_by_category', category=category) }}">{{format_category(category)}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="content">{% block content %}{% endblock %}</div>

<a href="#" class="float">
    ↑
</a>
<div id="footer">
    {% block footer %} {% endblock %}
</div>
</body>

</html>