{% extends "base.html" %} {% block title %}Errores{% endblock %} {% block content %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Stacktrace</th>
        </tr>
    </thead>
    <tbody>
        {% for ips in elements %}
        <tr scope="row">
            <td>{{ips.date}}</td>
            <td>{{ips.stacktrace}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}