<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',
      filename='css/index.css')}}">
    <meta charset="UTF-8">
    <title>Mukenio's server</title>
</head>
<body>
<div class="container">
<a href="{{ url_for('ofertas')}}" target="_blank"><div class="item">OFERTAS</div></a>
<a href="{{ url_for('visit_sickchill')}}" target="_blank"><div class="item">SICKCHILL</div></a>
<a href="{{ url_for('visit_deluge')}}" target="_blank"><div class="item">DELUGE</div></a>
<a href="{{ url_for('visit_minidlna')}}" target="_blank"><div class="item">MINIDLNA</div></a>
<a href="{{ url_for('visit_plex')}}" target="_blank"><div class="item">PLEX</div></a>
</div>
</body>
</html>
