{% extends "base.html" %} {% block title %}Descuentos{% endblock %} {% block content %}
<div id="filters">
    <a href="{{ url_for('offers_by_category', category= elements['category'])}}?order_by=brand_name&sort={{request.args.get('sort')}}">Marca</a>
    <a href="{{ url_for('offers_by_category',category= elements['category'])}}?order_by=discount&sort={{request.args.get('sort')}}">Descuento</a>
    <a href="{{ url_for('offers_by_category',category= elements['category'])}}?order_by=promo_price&sort={{request.args.get('sort')}}">Precio promo</a>
    <a href="{{ url_for('offers_by_category', category= elements['category'])}}?order_by=unit_price&sort={{request.args.get('sort')}}">Precio unitario</a>
    <a href="{{ url_for('offers_by_category', category= elements['category'])}}?order_by={{request.args.get('order_by')}}&sort=asc">Asc</a>
    <a href="{{ url_for('offers_by_category', category= elements['category'])}}?order_by={{request.args.get('order_by')}}&sort=desc">Desc</a>
    </div>
{% for items in elements['items'] %}
<div class="container">
    <div class="panel pricing-table">
        {% for item in items %} 
        <div class="pricing-plan">
            <img src={{item.Article.image_url}} alt="" class="pricing-img">
            <a href={{item.Article.product_url}} target="_blank">
                <h2 class="pricing-header">{{item.Article.name}}</h2>
            </a>
            <ul class="pricing-features">
                <li class="pricing-features-item">{{item.Article.promo.name}}</li>
            </ul>
            <span class="pricing-price tachado">Precio regular ${{item.Article.original_price}}</span>
            <span class="pricing-price">Precio promo ${{item.Article.promo_price}}</span> {% if item.Article.is_pack is true %}
            <span class="pricing-price">Precio por pack ${{item.Article.unit_price}}</span>
            <span class="pricing-price">Precio por unidad ${{item.Article.unit_price}} c/u</span>  {% endif %}
            <span class="pricing-stock">Stock: {{item.Article.stock}} unidades</span>
            <span class="pricing-stock">Tienda: {{item.Article.shop.name}}</span>
            <span class="pricing-stock">Sucursal: {{item.Article.shop.branch_office}}</span>
        </div>
        {% endfor %}
    </div>
</div>

{% endfor %} {% endblock %}